<div class="grid grid-cols-3 gap-6">
  <div *ngFor="let character of characters" class="p-4">
    <div class="w-[424px] h-[462px] bg-[#3c3e44] rounded-[23px] flex flex-col items-center shadow-lg">

      <div class="w-[px]  bg-white rounded-md overflow-hidden mt-6">
        <img [src]="character.image" alt="{{ character.name }}" class="w-full h-full object-cover" />
      </div>

      <div class="mt-4 text-[#fbc02d] text-2xl font-normal font-['Inter'] text-center">
        {{ character.name }}
      </div>

      <div class="mt-4 px-6 text-justify text-white text-sm font-normal font-['Inter'] leading-5 h-[169px] overflow-hidden">
        {{ character.description }}
      </div>

      <div class="mt-4 flex justify-between gap-2" style="margin-bottom: 16px;">
       
        <button
          class="w-[104px] py-2 bg-[#fedc08] rounded-md text-black text-xs font-normal font-['Inter'] cursor-pointer hover:bg-[#f3c208]"
          (click)="openPlanetModal(character.id)"
        >
          Ver planeta
        </button>

        <button
          class="w-[104px] py-2 bg-[#FC6D0B] rounded-md text-white text-xs font-normal font-['Inter'] cursor-pointer hover:bg-[#ff802b]"
          (click)="openTransformationsModal(character.id)"
        >
          Ver transformaciones
        </button>

        <button
          class="w-[104px] py-2 bg-[#ff1f37] rounded-md text-white text-xs font-normal font-['Inter'] cursor-pointer hover:bg-[#e01c32]"
          (click)="openEditKiModal(character)"
        >
          Modificar Ki
        </button>
      </div>
    </div>
  </div>
</div>

<app-planet-modal
  *ngIf="selectedCharacterId"
  [characterId]="selectedCharacterId"
  (closeModal)="closePlanetModal()"
></app-planet-modal>

<app-transformations-modal
  *ngIf="selectedForTransformations"
  [characterId]="selectedForTransformations"
  (closeModal)="closeTransformationsModal()"
></app-transformations-modal>

<app-modal-edit
  *ngIf="editingKiCharacter"
  [character]="editingKiCharacter"
  (closeModal)="closeEditKiModal()"
  (saveKi)="saveKi($event)"
></app-modal-edit>
